.hero {
    padding-top: 47px;
    @media screen and (min-width: 768px) {
        padding-top: 128px;
    }
}

.hero__container {
    position: relative;
}
.hero__container h2 {
    @media screen and (min-width: 768px) {
        width: 340px;
    }    
    @media screen and (min-width: 1366px) {
        width: 565px;
        font-size: 56px;
    }
}

.header__bg_left {
    position: absolute;
    width: 216.15px;
    height: 216.15px;
    top: -12px;
    right: 76px;
    background-color: $button-bg-color;
    opacity: 0.4;
    filter: blur(120px);
    -webkit-appearance: none;
    @media screen and (min-width: 768px) {
        top: -13px;
        right: 208px;
        filter: blur(100px);
    }
    @media screen and (min-width: 1366px) {
        width: 452.94px;
        height: 452.94px;
        top: -78px;
        right: 272px;
        filter: blur(170px);
    }
}
.header__bg_right {
    position: absolute;
    width: 268.67px;
    height: 268.67px;
    right: -26px;
    top: -59px;
    background-color: $bg-color;
    opacity: 0.4;
    filter: blur(120px);
    -webkit-appearance: none;
    @media screen and (min-width: 768px) {
        top: -126px;
        filter: blur(100px);     
    }
    @media screen and (min-width: 1366px) {
        width: 563px;
        height: 563px;
        right: -209px;
        top: -127px;
        filter: blur(170px);
    }
}

.hero_text {
    font-size: 20px;
    line-height: 180%;
    margin-top: 12px;
    @media screen and (min-width: 768px) {
        width: 340px;
    }
    @media screen and (min-width: 1366px) {
      width: 565px;  
    }    
}
.hero_button {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $button-text-color;
    background: $button-bg-color;
    border-radius: 8px;
    padding: 14px 32px;
    margin-top: 12px;
    cursor: pointer;
    @media screen and (min-width: 768px) {
        margin-top: 32px;
    }
}