body {
    font-family: 'Poppins'; 
    font-weight: 400; 
    font-style: normal;
    background-color: $primary-bg-color;
    color: $primary-text-color;
    margin: 0;
    padding: 0;
    overflow-x: clip;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: $title-color; 
    margin: 0;
  }
 
  button {
    font-weight: 500;
    border: none;
    padding: 0;
  }

  p,
  span {
      margin: 0;
  }
  
  ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  a {
      text-decoration: none;
  }
  
  img {
      max-width: 100%;
      display: block;
      height: auto;
  }
  
  .container {
    //   overflow-x: clip;
      text-overflow: ellipsis;
      max-width: 1440px;
      padding: 0 25px;
      margin: 0 auto;
  
      @media screen and (min-width: 410px) {
          width: 410px;
      }
      @media screen and (min-width: 768px) {
          width: 768px;
      }
      @media screen and (min-width: 1440px) {
          width: 1440px;
          padding: 0 180px;
      }
  }