$primary-bg-color: #ffffff;
$footer-bg-color: #f3f3f3;
$primary-text-color: rgba(18, 17, 39, 0.56);
$logo-color: #121127;
$title-color: #121127;
$button-mobil-color: #000000;
$button-text-color: #ffffff;
$button-bg-color: #444BD3;
$music-bg-color: #ffffff;
$bg-color: #90ECF4;
$button-text-secondary: #545463;
$box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.08);
$mobile-button-color: #000000;